<nav class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top bars sizingV">
        <div class="container-fluid">
            <div class="container-fluid col-12">
                <p class="caption" >Created by Pablissimo
                    <a href="https://www.facebook.com/p.a.b.pian.cont" target="_blank"><img src="../../../assets/img/Facebook_Logo_(2019).png" class="icons" alt=""></a>
                    <a href="https://www.instagram.com/pablo.alejandro2021/" target="_blank"><img src="../../../assets/img/2048px-Instagram_icon.png" class="icons" alt=""></a>
                    <a href="https://www.youtube.com/channel/UCE_1S6wSXFOjgsbiq55Mp6g" target="_blank"><img src="../../../assets/img/youtube-logo-5-2.png" class="icons youtube" alt=""></a>
                </p>
            </div>
        </div>
  </nav>

