*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgSize{
    width: 80px;
    height: 80px;
}
div{
    margin: 10px;
}
.filtrar{
    display: none;
}
.mostrar{
    display: flexbox;
}