@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    background-color: black;
    height: 100vh;
}
.borderBox{
    border: 1px solid white;
}