<div class="background">
<div class="row ">
  <app-toolbar class="col"></app-toolbar>
</div>
<div class="row">
  <div class="col-2 borderBox">
    <div class="d-flex flex-column">
      <app-menu></app-menu>
    </div>
  </div>
  <div class="col-10 borderBox">
    <div class="d-flex flex-column">
      <div class="card">
        <div class="card-body">
          <app-content></app-content>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <app-footer></app-footer>
</div>
</div>