<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How to play octaves
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Octaves are high trend topic, </strong> The techinque to improve your octaves is not easy to get, but here you have some tips:
          <ul>
            <li> Relax your muscles</li>
            <li> Use your wrist</li>
            <li> Think to do circular movements </li>
            <li> Feel how the key goes up </li>
            <li> Use little gliss. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How to play fast
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Playing fast is one of the most wanted skills.</strong> However, If you want to play fast you have to be able to play slow. So this is the first suggest: study slow. When you are playing slow focus in the movements of the fingers, hand and wrist, try to figure out how to make the less movement posible.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How to play thirds
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>For sure you know Chopin Op.25 N°6.</strong> Well, here there are my suggestions to play it succesfully:
          <ul>
            <li> Relax your muscles</li>
            <li> Try to find the most comfortable finger for you</li>
            <li> Don't be afraid to use your thumb on black keys</li>
          </ul>
        </div>
      </div>
    </div>
  </div>