<div class="row background">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item flexList withoutBorder"> <button mat-raised-button >Alumnos</button>  </li>
            <li class="list-group-item flexList withoutBorder"> <button mat-raised-button (click)="alertWorkInProgress()">Cursos</button>  </li>
            <li class="list-group-item flexList withoutBorder"> <button mat-raised-button (click)="alertWorkInProgress()">Inscripciones</button>  </li>
            <li class="list-group-item flexList withoutBorder"> <button mat-raised-button (click)="alertWorkInProgress()">Usuarios </button>  </li>
            <li class="list-group-item flexList withoutBorder"> <button mat-raised-button (click)="alertWorkInProgress()">Perfil </button>  </li>
        </ul>
    </div>
</div>