<h1> Directivas Atributo</h1>
<h2>ngClass</h2>

<p class="grande" [ngClass]="variable > 2 ? 'texto-error' : 'texto-exito'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum doloribus sapiente inventore atque quasi aliquid debitis, fuga odio adipisci, odit maxime minus molestias impedit consequatur libero vero deleniti rerum saepe?</p>
<p [ngClass]="variable > 5 ? 'texto-error' : 'texto-exito'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum doloribus sapiente inventore atque quasi aliquid debitis, fuga odio adipisci, odit maxime minus molestias impedit consequatur libero vero deleniti rerum saepe?</p>
<p [ngClass]="variable === 5 ? 'texto-error' : ''" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum doloribus sapiente inventore atque quasi aliquid debitis, fuga odio adipisci, odit maxime minus molestias impedit consequatur libero vero deleniti rerum saepe?</p>
<hr>
<h2>ngStyle</h2>

<p [style.border]="variable ===5? '' : '1px solid black'">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem eius similique praesentium cum sapiente, rerum, odit minus obcaecati perspiciatis voluptas ipsum iusto fuga, placeat dicta ducimus cupiditate in itaque mollitia?</p>


<hr>

<h2> Directiva Personalizada</h2>
<!-- <p appDirectivaPersonalizada>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, perferendis inventore? Voluptates quasi, animi ipsa odio laboriosam, qui, nulla eveniet placeat voluptatum deleniti fuga quod distinctio? Quo obcaecati ratione ut.</p> -->

<hr>
<h2> Pipes</h2>
<p> {{listaNombres | json}}</p>
<li *ngFor="let persona of listaNombres"> {{persona.nombre | uppercase}}  
                                           {{persona.nombre | lowercase}}  
                                        {{persona.nombre | titlecase}}  </li>
<br>
{{fecha | date: 'dd/MM/YYYY' }}
<h2> Directiva ngFor</h2>
<ol>
    <li *ngFor="let persona of listaNombres"> {{persona.nombre}} - {{persona.edad}}</li>
</ol>

<hr>
<h2> Directiva ngIf</h2>
    <ol>
        <div *ngFor="let persona of listaNombres">
        <li *ngIf="persona.edad >18 && persona.nombre ==='Pablo' || persona.nombre ==='Axel'">
            {{persona.nombre}} - {{persona.edad}}
        </li>
    </div>
    </ol>
<hr>
<h2> ngSwitch</h2>
<div [ngSwitch]="variable">
    <div *ngSwitchCase="1">Variable es 1</div>
    <div *ngSwitchCase="2">Variable es 2</div>
    <div *ngSwitchCase="3">Variable es 3</div>
    <div *ngSwitchDefault="">Variable no es ni 1 ni 2 ni 3 </div>
</div>
